
.products {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
}

.product {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 600px;
    margin: 20px;
    word-wrap: break-word;
}

.product-img{
    margin-bottom: auto;
    margin-top: auto;
    max-height: 300px;
    object-fit: contain;
    width: 100%;
}

.title{
  font-size: 80px;
    text-align: center;
}

.categories{
  text-align: center;
}

.category-button {
  background-color: rgb(238, 238, 241);
  color: rgb(18, 10, 10);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 350px; 
  height: 75px;
}

.button-text{
  width: 100%;
  font-size: 25px;
}

.dropList {
  text-align: center;
  margin-bottom: 300px;
}
.dropList ul {
  display: flex;
 text-align: center;
 font-size: 25px;
 justify-content: center;
 height: 100px;

}


.dropList li {
  margin: 10px 80px;
  cursor: pointer;
  max-width: 400px;
  list-style: none;
  align-content: center;
}

.dropList li:hover {
  background-color: lightblue;
  color: black;
}